   .frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Viewport height */
    text-align: center; 
  }
  
  .logo {
    margin-bottom: 20px; /* 간격 조정 */
  }
  
  .instruction {
    margin-bottom: 20px; /* 간격 조정 */
    width: 100%;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 20px; /* 버튼 사이의 간격 조정 */
  }
  


 