.side-bar {
    position: sticky;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #e5e5e5;
    padding: 20px 15px 10px 15px; /* 패딩을 좀 더 균등하게 */
    font-family: Arial, sans-serif;
    font-size: 15px; /* 기본 폰트 크기를 약간 키움 */
    color: #495057;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }



  .side-bar-item {
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

