.locker-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* 셀 높이에 맞게 조정 */
  width: 100%; /* 셀 너비에 맞게 조정 */
}

.locker-select {
  margin-bottom: 30px; 
}

/* 테이블의 기본 테두리 제거 */
.locker-table,
.locker-table td,
.locker-table th {
  border: none !important; /* Bootstrap의 기본 테두리 덮어쓰기 */
}


.locker-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.locker-table td {
  width: 100px; 
  height: 100px; 
  text-align: center;
  vertical-align: middle;
  overflow: hidden; 
  word-wrap: break-word; 
}


.locker-cell div {
  margin: 5px 0;
}

.locker-select {
  border-radius: 8px;
  right: 0;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  padding: 3px;
  line-height: 2;
  margin-top: 33px;
  border:none;
  margin-left:6px;
}

.locker-select:after {
  padding: 5px;
  background-color: #fff;
  color: #000;
}



/* 모서리가 둥근 div 스타일 추가 */
.rounded-content {
border-radius: 10px; /* 원하는 둥근 모서리 크기 설정 */
background-color: #f8f9fa; /* 배경색 설정, 필요에 따라 변경 */
padding: 10px; /* 내부 여백 설정 */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 추가, 필요에 따라 변경 */
}


.admin-spinner {
display: flex;
justify-content: center;
align-items: center;
margin-top: 150px;
}


