.cart-container{
  overflow-x: scroll;
}


.cart-item {
  background-color: #bbdefb;
  border: 1px solid #90caf9;
  width: 150px;
  height: 100px;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  float: left;
  margin-right: 5px;
}

.cart-item span {
  display: block;
  cursor: pointer;
}

.remove-button {
  background: none;
  border: none;
  color: #f44336;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* 버튼 스타일링 */
.cart-button {
  padding: 8px 16px; /* 크기 조정 */
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* 폰트 크기 조정 */
  transition: all 0.2s ease-in-out;
}

.cart-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cart-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* 예약하기 버튼 */
.cart-button-primary {
  background-color: #42a5f5;
  color: white;
}

.cart-button-primary:hover {
  background-color: #3391f2;
}

/* 취소 버튼 */
.cart-button-danger {
  background-color: #ef5350;
  color: white;
}

.cart-button-danger:hover {
  background-color: #e53935;
}

/* 모달 내 버튼 스타일링 */
.modal-footer .btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.modal-footer .btn-primary {
  background-color: #42a5f5;
  color: white;
}

.modal-footer .btn-primary:hover {
  background-color: #3391f2;
}

.modal-footer .btn-secondary {
  background-color: #f1f1f1;
  color: #333;
}

.modal-footer .btn-secondary:hover {
  background-color: #e1e1e1;
}
