.responsive-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .responsive-table td {
    border: 1px solid black; 
    padding: 8px;
    text-align: center; 
  }
  
  .responsive-table th {
    border: 1px solid black;
    padding: 8px; 
    text-align: center; 
    background-color: #f2f2f2; 
  }
  
  .responsive-table {
    margin-top: 40px;
    width: 100%;
    height: 80%;
  }