
.responsive-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .responsive-table td {
    border: 1px solid black; 
    padding: 8px;
    text-align: center; 
  }
  
  .responsive-table th {
    border: 1px solid black;
    padding: 8px; 
    text-align: center; 
    background-color: #f2f2f2; 
  }
  
  .responsive-table {
    margin-top: 40px;
  }

  .locker-select {
    margin-bottom: 30px; 
  }

  .locker-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .locker-table th,
  .locker-table td {
    border: 1px solid #ccc;
    width: 100px; 
    height: 100px; 
    text-align: center;
    vertical-align: middle;
    overflow: hidden; 
    word-wrap: break-word; 
  }
  
  .locker-table th {
    background-color: #f4f4f4;
  }
  
  .locker-cell div {
    margin: 5px 0;
  }