/* 프로필 카드 스타일 */
.profile-card {
  width: 700px;
  /* background-color: rgb(153, 244, 236); */
  /* border: 1px solid black; */
  border-radius: 5%;
  margin-top: 20px;
}

/* 프로필 이미지 스타일 */
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  
}


/* 프로필 정보 스타일 */
.profile-details p {
  margin: 10px 0;
  font-size: 20px;
}

.profile-details strong {
  font-weight: 600;
  color: #333;
}

.profile-details input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* 프로필 정보 */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 프로필 수정 */
.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%; /* 컨테이너의 너비를 80%로 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 자동 마진 추가 */
}


