
/* 폼 스타일 */
.request-form {
    margin-top: 30px;
    max-width: 600px;
}

.request-form div {
    margin-bottom: 20px;  /* 각 div 요소 사이에 20px 간격 추가 */
}


/* 반응형 조정 */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        padding: 10px;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .content {
        padding: 15px;
    }

    .request-form {
        max-width: 100%;
    }
}