.side-bar {
  position: sticky;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #e5e5e5;
  padding: 20px 15px 10px 15px; 
  font-family: Arial, sans-serif;
  font-size: 15px; 
  color: #495057;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 10px;;
}


.menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px; /* 간격을 조금 더 줌 */
}

.menu-header span {
  font-size: 20px; /* 폰트 크기를 키움 */
  font-weight: 700; /* 좀 더 두꺼운 글꼴 */
}

.menu-section {
  margin-bottom: 25px; /* 섹션 간격을 넓힘 */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 0; /* 상하 패딩을 조금 더 줌 */
  color: #212529;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s;
}

.menu-item span {
  margin-left: 15px; /* 텍스트와 아이콘 간격을 조금 더 줌 */
  font-size: 16px; /* 텍스트 크기 조정 */
}

.menu-item:hover {
  background-color: #e9ecef;
  border-radius: 8px; /* 둥근 모서리 */
}

.submenu-content {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.submenu-content.open {
  max-height: 200px;
  opacity: 1;
}

.submenu-content li {
  padding: 10px 0; /* 서브메뉴 항목 패딩 조정 */
}

.submenu-content li:hover {
  background-color: #f1f3f5;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px; /* 버튼 패딩 조정 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #0056b3;
}

.modal-header, .modal-body {
  text-align: center;
}

.modal-title {
  margin: auto;
}


.admin-side-bar{
  margin-top: 30px;
}

.black-hover-button {
  background-color: #000000; /* 기본 배경색 */
  color: #000000; /* 기본 텍스트 색상 */
  border: 1px solid #000000; /* 기본 테두리 색상 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.black-hover-button:hover {
  background-color: #000000; /* 마우스를 올렸을 때 배경색 */
  color: #ffffff; /* 마우스를 올렸을 때 텍스트 색상 */
}