.chart-container {
  margin: 40px auto;
  height: 400px;
  width: 60%;
}

.out-chart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;;
}

.in-chart {
  flex: 1;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.in-chart h5 {
  text-align: center;
}

.chart-container h5 {
  text-align: center;
}

.in-chart table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.in-chart th, .in-chart td {
  width: 50%;
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}
