.chart-container {
    margin: auto;
    height: 300px;
}

.out-chart {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.in-chart {
    flex: 1; 
    overflow-x: auto
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* 테이블을 중앙 정렬 */
    font-family: Arial, sans-serif; /* 글꼴 설정 */
    background-color: #f9f9f9; /* 배경색 설정 */
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* 테두리 색상 설정 */
  }
  
  th {
    background-color: #4CAF50; /* 헤더 배경색 */
    color: white; /* 헤더 글자색 */
  }
