.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Viewport height */
  text-align: center;
}

.cart-container {
  width: 100%;
  max-width: 375px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: none; /* 그림자 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 0; /* 둥근 모서리 제거 */
  font-family: 'ONE-Mobile-POP', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.items {
  margin-bottom: 20px;
}

.rent {
  margin-bottom: 15px;
}

.item {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px !important;
  background-color: #F0F8FF;
  display: flex;
  justify-content: space-between;
}

.item-header {
  display: flex;
  align-items: center;
  vertical-align:middle;
  /* margin-bottom: 10px; */
  margin-right: 15px;
}

.item-icon {
  font-size: 30px;
  margin-right: 10px;
}

.item-name {
  font-size: 18px;
  flex-grow: 1;
  white-space: nowrap; /* Prevents text from wrapping */
  /* margin 제거 */
  margin: 0;
}


.control {
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}

.control span {
  margin: 0 5px;
  white-space: nowrap; /* Prevents text from wrapping */
}

div.control-button {
  /* 수량 조절 버튼 */
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #0093ED;
  color: #fff;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  
}

button:disabled {
  background-color: #dcdcdc;
}

.report-button {
  width: 100%;
  padding: 10px;
  background-color: #0093ED;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.report-button:hover {
  background-color: #0093ED;
}


/* Ensure text remains horizontal */
.preserve-horizontal-text {
  white-space: nowrap; /* Prevents text from wrapping */
}

.extreme-small-font {
  /* 엄청 작은 글씨 */
  font-size: 12px;
  color: gray;
  margin: 0;
}

.small-font {
  /* 작은 글씨 */
  font-size: 14px;
  color: gray;
  margin: 0;
  text-align: left;
}

p.p-small-number.imp {
  display: inline-block;
  /* width: 20px; */
  margin: 0;
  padding: 0;
  min-width: none;
  align-self: center;
  text-align: center;
  width: 15px;
  height: 24px;
}


.selected-rent {
  background-color: #FF6666 !important; /* 선택된 대여 기록에 적용할 배경색 */
  border: 2px solid #CC0000 !important; /* 선택된 대여 기록에 적용할 테두리 색 */
}


@media (max-width: 768px) {
  .cart-container {
    max-width: 100%; /* 더 작은 화면에서는 너비를 100%로 설정 */
    padding: 10px; /* 패딩을 줄여서 공간을 더 확보 */
  }
}
.btn-main {
  position: fixed;
  top: 5%;
  left: 5%;
}