.item-controls {
  display: flex; /* 아이템 컨트롤을 플렉스 박스로 만듭니다. */
  align-items: center; /* 아이템들을 수직으로 중앙 정렬합니다. */
  justify-content: center; /* 아이템들을 수평으로 중앙 정렬합니다. */
  min-width: 100px; /* 최소 너비를 100px로 설정하여 레이아웃이 일정하게 유지되도록 합니다. */
}

.item-controls button {
  background-color: skyblue; /* 버튼의 배경색을 하늘색으로 설정합니다. */
  border: none; /* 버튼의 기본 테두리를 제거합니다. */
  border-radius: 4px; /* 버튼의 모서리를 둥글게 만듭니다. */
  padding: 0.1px 10px; /* 버튼의 안쪽 여백을 설정하여 크기를 줄입니다. */
  font-size: 0.8rem; /* 버튼의 글자 크기를 줄입니다. */
  color: #fff; /* 버튼 글자의 색상을 흰색으로 설정합니다. */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 요소임을 나타냅니다. */
  transition: background-color 0.3s ease; /* 배경색이 0.3초 동안 부드럽게 변경되도록 합니다. */
  margin: 0 2px; /* 버튼과 수량 사이에 여백을 추가합니다. */
  width: 30px; /* 버튼의 너비를 고정하여 일관성을 유지합니다. */
  text-align: center; /* 버튼 안의 텍스트를 중앙 정렬합니다. */
}

.item-controls button:hover {
  background-color: #0093ED; /* 버튼에 마우스를 올렸을 때 배경색을 파란색으로 변경합니다. */
}

.item-controls span {
  min-width: 30px; /* 수량을 표시하는 요소의 최소 너비를 20px로 설정합니다. */
  text-align: center; /* 수량 텍스트를 중앙 정렬합니다. */
}

.item-name {
  margin-right: 16px;
}
.badge {
  color : black
}