.item-list1 {
    width: 300px;
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
}

.item1 {
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: #d6f5ff;
    margin-top: 5px;
    height: 55px;
    border-radius: 8px;
}

.item-icon1 {
    margin-right: 10px;
}

.item-name1{
    margin-right: 10px; /* 이름과 개수 사이에 간격을 둡니다 */
}
