.logo {
    width: 100%; /* 부모 요소의 크기에 맞게 설정 */
    height: 100%; /* 부모 요소의 크기에 맞게 설정 */
    object-fit: cover;
    border-radius: 50%; /* 이미지도 둥글게 만듦 */
}

.image {
    border-radius: 50%; /* 동그라미 모양 유지 */
    border: 2px solid #0093ed;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    overflow: hidden; /* 이미지가 부모 요소를 벗어나지 않도록 설정 */
}
